## ignore files
**/.DS_Store
**/.idea
**/.vsconfig
**/*.pem
**/*.p12

## ignore folders
**/.vscode/
**/.vs/
**/.config/
**/.cursor/
**/.claude/
**/.vsconfig/
**/.godot/

**/Docs/IMP/
**/Docs/REF/

**/Generated/
**/Output/
**/Replays/
**/MemoryCaptures/

/**/[Aa]ssets/[Pp]ackages/
/**/Library/
/**/Logs/
/**/Temp/
/**/UserSettings/

**/obj/
**/bin/
**/Binaries/
**/Intermediate/
**/IncrementalBuildPipeline/
**/BUILD/
**/*.app/
**/*_BackUpThisFolder_*/
**/*_BurstDebugInformation_*/

## ignore files
**/.DS_Store**/Klotho/*.csproj
**/Klotho/*.sln
**/Klotho/*.slnx

**/Brawler/*.csproj
**/Brawler/*.sln
**/Brawler/*.slnx

**/P2pSample/*.csproj
**/P2pSample/*.sln
**/P2pSample/*.slnx

**/SdSample/*.csproj
**/SdSample/*.sln
**/SdSample/*.slnx

**/Unity2022/*.csproj
**/Unity2022/*.sln
**/Unity2022/*.slnx

**/export_presets.cfg

Klotho.sln
